<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="menuController.open()">
        <ion-icon style="font-weight: bold" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col *ngFor="let category of categories" routerLink="/travel-listing" [size]="category.size">
        <div class="image-container ">
          <img  [src]="category.image" />
          <div class="text-container">
            <div [class]="category.class">
              {{category.text}}
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
