<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="/tabs/categories"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Travel Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="relative">
      <img
        src="../../../assets/img/freestocks-_3Q3tsJ01nc-unsplash.jpg"
        alt="travel location"
        srcset=""
      />
      <div
        color="light"
        class="abs flex center flex-col"
        style="background: rgba(0, 0, 0, 0.4)"
      >
        <div>
          <ion-icon
            color="light"
            style="font-size: 48px; font-weight: bolder"
            slot="start"
            name="storefront-outline"
          ></ion-icon>
        </div>
        <div class="explore-button">
          <ion-text style="font-size: 18px; font-weight: bolder" color="light">
            Explore
            <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
          </ion-text>
        </div>
      </div>
    </div>
    <div class="ion-margin">
      <ion-text color="dark">
        <h4>
          <strong>Lorem ipsum dolor sit </strong>
        </h4>
      </ion-text>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aperiam amet dicta quod eveniet eaque consequuntur fugiat dignissimos quo mollitia?
      </p>
    </div>
    <div class="flex">
      
    </div>
  </div>
</ion-content>
